@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.web-title {
    letter-spacing: 4px;
}

.nav-link {
    font-weight: 100;
}

/** Form Area**/
.title-form {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.header-line {
    height: 15px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.title-input {
    width: 100%;
    border: none;
}

.title-underline {
    border-radius: 20px;
    transition: 0.5s;
}

.form-description {
    width: 100%;
    height: 80px;
    resize: none;
    border: none;
}

.description-underline {
    border-radius: 20px;
    transition: 0.5s;
}

